html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    text-align:left;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

    ul a {
        display: block;
        color: #dddddd;
        margin-top: 10px;
    }
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    text-align:left;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

    ul a {
        display: block;
        color: #dddddd;
        margin-top: 10px;
    }

}
