@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<h2>About Us</h2>
<div class="foot-panel2">
    <ul>
        <h3>
            Get To Know About Us
        </h3>
        <a>Careers</a>
        <a>Blogs</a>
        <a>About Company</a>
        <a>Investor Relations</a>
        <a> Company Devices</a>
        <a> Company Scirnce</a>
    </ul>
 </div>
