@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file
}

<h2>Contact Us</h2>


    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput2" placeholder="contact number">
        <label for="floatingInput">Contact</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Write Your Feedback</label>
    </div>
    <div class="form-floating mb-3">
        <input type="button" value="Submit" class="btn btn-outline-primary" />
    </div>
    <div class="mb-3">
        <address>
            <h6>
                ThinkQuotient Software Private Limited
            </h6>
            Prashant Apartments, Ground Floor, 5/3, Karve Rd, behind Telephone Exchange, Nal Stop, Pandurang Colony, Erandwane, Pune, Maharashtra 411004
        </address>
        <h6>
            Email:
        </h6>
        <h6>
            Contact:
        </h6>
    </div>
